.gridsquare {
  background-color: tan;
  height: 16px;
  width: 16px;

}
.board_column{
  display: inline-block;
}
.scoreboard{
  margin: auto;
  display: inline-block;
}
#gameboard {
  display: inline-block;
}
.bullet {
  background-color: yellow;
}
.player1{
  background-color: blue;
}
.player2{
  background-color: red;
}
.wall{
  background-color: brown;
}
#levelselect{
  align-content: justify;
}
button {
  margin: 25px;
}
